
# Java File

import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.view.View;
import android.widget.Button;
import android.widget.EditText;
import android.widget.TextView;

import java.math.BigInteger;

public class MainActivity extends AppCompatActivity {
    Button button; // *** define the first Button by making a variable ***
    EditText et1,et2; // *** define the first and second EditText by making a variable ***
    TextView showResult1; // *** define the second TextView by making a variable ***
    TextView showResult2; // *** define the second TextView by making a variable ***
    TextView showResult3; // *** define the second TextView by making a variable ***
    TextView showResult4; // *** define the second TextView by making a variable ***
    TextView showResult5; // *** define the second TextView by making a variable ***
    TextView showResult7; // *** define the second TextView by making a variable ***
    TextView showResult8; // *** define the second TextView by making a variable ***
    TextView showResult9; // *** define the second TextView by making a variable ***
    TextView showResult10; // *** define the second TextView by making a variable ***
    TextView showResult11; // *** define the second TextView by making a variable ***

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);

        et1=(EditText) findViewById(R.id.editInput1); // *** find and define the first EditText by making a variable ***
        et2=(EditText) findViewById(R.id.editInput2); // *** find and define the second EditText by making a variable ***
        showResult1=(TextView) findViewById(R.id.txtResult1); // *** find and define the second TextView by making a variable ***
        showResult2=(TextView) findViewById(R.id.txtResult2); // *** find and define the second TextView by making a variable ***
        showResult3=(TextView) findViewById(R.id.txtResult3); // *** find and define the second TextView by making a variable ***
        showResult4=(TextView) findViewById(R.id.txtResult4); // *** find and define the second TextView by making a variable ***
        showResult5=(TextView) findViewById(R.id.txtResult5); // *** find and define the second TextView by making a variable ***
        //showResult7=(TextView) findViewById(R.id.txtResult7); // *** find and define the second TextView by making a variable ***
        showResult8=(TextView) findViewById(R.id.txtResult8); // *** find and define the second TextView by making a variable ***
        showResult9=(TextView) findViewById(R.id.txtResult9); // *** find and define the second TextView by making a variable ***
        showResult10=(TextView) findViewById(R.id.txtResult10); // *** find and define the second TextView by making a variable ***
        showResult11=(TextView) findViewById(R.id.txtResult11); // *** find and define the second TextView by making a variable ***

        button=(Button) findViewById(R.id.button1); // *** find and define the first Button by making a variable ***


        button.setOnClickListener(new View.OnClickListener(){
            @Override
            public void onClick(View arg0) {
                //showResult.setText("Button Clicked"); *** This is if you want to replace what the text has.***
                double num1=Double.parseDouble(et1.getText().toString()); //*** How to get a integer from the input ***
                double num2=Double.parseDouble(et2.getText().toString()); //*** How to get a integer from the input ***
                int num3=Integer.parseInt(et1.getText().toString()); //*** How to get a integer from the input ***
                int num4=Integer.parseInt(et2.getText().toString()); //*** How to get a integer from the input ***

                showResult1.setText(Double.toString(num1 + num2)); // *** This is print *** add
                showResult2.setText(Double.toString(num1 * num2)); // *** This is print *** times
                showResult3.setText(Double.toString(num1 / num2)); // *** This is print *** divide
                showResult4.setText(Double.toString(num1 - num2)); // *** This is print *** sub
                showResult5.setText(Double.toString((num1 * num2) / 100)); // *** This is print ***
                //showResult7.setText(Integer.toString(num3^num4)); // *** This is print ***
                showResult8.setText(Double.toString(Math.log10(num1))); // *** This is print ***
                showResult9.setText(Double.toString(Math.log10(num2))); // *** This is print ***
                showResult10.setText(Double.toString(Math.sqrt(num1))); // *** This is print ***
                showResult11.setText(Double.toString(Math.sqrt(num2))); // *** This is print ***

            }

        });

    }
}

# XML File 

<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/back"
    android:fillViewport="true">
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:paddingBottom="@dimen/activity_vertical_margin"
    android:paddingLeft="@dimen/activity_horizontal_margin"
    android:paddingRight="@dimen/activity_horizontal_margin"
    android:paddingTop="@dimen/activity_vertical_margin">


    <EditText
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/editInput1"
        android:layout_alignParentTop="true"
        android:layout_alignParentStart="true"
        android:text="Enter No.1"
        android:layout_marginTop="15dp"
        android:layout_alignParentEnd="true" />

    <EditText
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/editInput2"
        android:text="Enter No.2"
        android:layout_below="@+id/editInput1"
        android:layout_alignParentStart="true"
        android:layout_alignParentEnd="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Addition (+)"
        android:id="@+id/textView"
        android:layout_below="@+id/editInput2"
        android:layout_alignParentStart="true"
        android:layout_marginTop="94dp" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Multiplication (*)"
        android:id="@+id/textView2"
        android:layout_marginTop="30dp"
        android:layout_below="@+id/textView"
        android:layout_alignParentStart="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Division (/)"
        android:id="@+id/textView3"
        android:layout_below="@+id/textView2"
        android:layout_alignParentStart="true"
        android:layout_marginTop="30dp" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Subtraction (-)"
        android:id="@+id/textView4"
        android:layout_marginTop="30dp"
        android:layout_below="@+id/textView3"
        android:layout_alignParentStart="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Percentage (%)"
        android:id="@+id/textView5"
        android:layout_marginTop="30dp"
        android:layout_below="@+id/textView4"
        android:layout_alignParentStart="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Square root (√) - Num 1"
        android:id="@+id/textView6"
        android:layout_marginTop="30dp"
        android:layout_below="@+id/textView5"
        android:layout_alignParentStart="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Square root (√) - Num 2"
        android:id="@+id/textView7"
        android:layout_marginTop="30dp"
        android:layout_below="@+id/textView6"
        android:layout_alignParentStart="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Large Text"
        android:id="@+id/txtResult1"
        android:layout_alignTop="@+id/textView"
        android:layout_alignParentEnd="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Large Text"
        android:id="@+id/txtResult2"
        android:layout_alignTop="@+id/textView2"
        android:layout_alignStart="@+id/txtResult1" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Large Text"
        android:id="@+id/txtResult3"
        android:layout_alignTop="@+id/textView3"
        android:layout_alignParentEnd="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Large Text"
        android:id="@+id/txtResult4"
        android:layout_alignTop="@+id/textView4"
        android:layout_alignParentEnd="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Large Text"
        android:id="@+id/txtResult5"
        android:layout_alignTop="@+id/textView5"
        android:layout_alignParentEnd="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Large Text"
        android:id="@+id/txtResult10"
        android:layout_alignTop="@+id/textView6"
        android:layout_alignParentEnd="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Large Text"
        android:id="@+id/txtResult11"
        android:layout_alignBottom="@+id/textView7"
        android:layout_alignParentEnd="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Log10 - Num 1"
        android:id="@+id/textView15"
        android:layout_marginTop="30dp"
        android:layout_below="@+id/textView7"
        android:layout_alignParentStart="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Log10 - Num 2"
        android:id="@+id/textView16"
        android:layout_marginTop="30dp"
        android:layout_below="@+id/textView15"
        android:layout_alignParentStart="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Large Text"
        android:id="@+id/txtResult8"
        android:layout_alignBottom="@+id/textView15"
        android:layout_alignParentEnd="true" />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textAppearance="?android:attr/textAppearanceLarge"
        android:text="Large Text"
        android:id="@+id/txtResult9"
        android:layout_alignParentBottom="true"
        android:layout_alignParentEnd="true" />

    <Button
        android:layout_width="100dp"
        android:layout_height="50dp"
        android:id="@+id/button1"
        android:background="@drawable/button12"
        android:layout_marginTop="15dp"
        android:layout_below="@+id/editInput2"
        android:layout_centerHorizontal="true" />
</RelativeLayout>
</ScrollView>








# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Generated files
bin/
gen/
out/

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
proguard/

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Intellij
*.iml
.idea/workspace.xml

# Keystore files
*.jks
